  <section id="home" class ="home_container">
    <div class="container-element">
      <h1 id="title">Welcome to my Website!</h1>
    </div>
  <!-- <div class='heading-box'>
    <h2 class="sub-heading"> My name is Rebeca Calvo and I am a full Stack Developer <br></br>
      I believe software development is as much about understanding people as <br></br>understanding code and being able to empathise and communicate with others is key to improve as a developer.
      <br></br>Do you want to know what I have done so far? Check my projects!
    </h2>
  </div> -->
    </section>
