<nav role="navigation">
  <ul class="navbar">
    <li><a href="/">Home<img src="icons/home-icon.png" alt="Home" aria-hidden="true" class="icons house-icon"></a></li>
    <li><a href="/myprojects">My projects<img src="icons/work-icon.svg" alt="my projects" aria-hidden="true" class="icons"></a></li>
    <li><a href="/aboutMe">About Me<img src="icons/m-glass.svg" alt="about me" aria-hidden="true" class="icons"></a></li>
    <li><a href="#contact">Contact<img src="icons/contact.svg" aria-hidden="true" alt="Contact" id = "contact" class="shake"></a></li>
  </ul>
</nav>
